pkgbase = conic-launcher
	pkgdesc = A small, fast, and nimble Minecraft launcher
	pkgver = 0.1.0alpha.2
	pkgrel = 1
	url = https://github.com/conic-apps/launcher
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	license = LicenseRef-Conic-Additional-Terms
	makedepends = cargo
	makedepends = desktop-file-utils
	makedepends = pkgconf
	makedepends = rust
	depends = alsa-lib
	depends = ca-certificates
	depends = fontconfig
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxi
	depends = libxkbcommon
	depends = libxrender
	depends = wayland-libs
	depends = xdg-utils
	optdepends = dbus: select a file in the file manager
	optdepends = java-runtime: use a system Java runtime instead of downloading one in the launcher
	optdepends = zenity: pick a custom background image
	options = !lto
	options = !debug
	source = conic-launcher-0.1.0-alpha.2.tar.gz::https://github.com/conic-apps/launcher/archive/refs/tags/v0.1.0-alpha.2.tar.gz
	sha256sums = 20f8b7a52e9ff5162eb0d175dab0b7c08b729b8ac137d8cd07261de59bc10f26

pkgname = conic-launcher