
i.fa-pro {
    font-family: "fa-pro";
}

i.close::before {
    content: "\f00d";
}

i#user-add:before {
    content: "\f3fd";
}

i#nav-3:before {
    content: "\f234";
}

i#nav-4:before {
    content: "\f019";
}

i#nav-5:before {
    content: "\f013";
}

i#nav-6:before {
    content: "\f085";
}

i#nav-7:before {
    content: "\f494";
}

button#start::before {
    content: "\f135";
}

.choose-file>i::before {
    content: "\f07c";
    font-style: normal;
}

i.folder-arrow-down {
    font-family: "fa-pro";
}

i.folder-arrow-down::before {
    content: "\f019";
}

.sidebar-button i::before {
    content: "\f0c9";
}

i.rectangle-terminal::before {
    content: "\e236";
}

i.screwdriver-wrench::before {
    content: "\f7d9";
}

i.folders::before {
    content: "\f660";
}

i.magnifying-glass::before {
    content: "\f002";
}

i.grid-2::before {
    content: "\e196";
}

i.cubes-stacked::before,
i#cubes-stacked::before {
    content: "\e4e6";
}

i#newspaper::before,
i.newspaper::before {
    content: "\f1ea";
}

i#cube::before {
    content: "\f1b2";
}

i.gamepad::before,
i#gamepad::before {
    content: "\f11b";
}

i#house-heart::before,
i.house-heart::before {
    content: "\f4c9";
}

i.shop::before,
i#shop::before {
    content: "\f54f"
}

i.church::before,
i#church::before {
    content: "\f51d";
}

i#user-group::before,
i.user-group::before {
    content: "\f500";
}

i.cubes::before {
    content: "\f1b3";
}

i.user::before {
    content: "\f007";
}

i.house::before {
    content: "\f015";
}

i.palette::before {
    content: "\f53f";
}

i.download::before {
    content: "\f019";
}

i.wheelchair::before {
    content: "\f193";
}

i.arrow-left::before {
    content: "\f060";
}

i.user-tie::before {
    content: "\f508";
}

i.pen-to-square::before {
    content: "\f044";
}

i.triangle-exclamation::before {
    content: "\f071";
}

i.brush::before {
    content: "\f55d";
}

i.window-flip::before {
    content: "\f40f";
    font-family: "fa-pro";
}

i.arrows-spin::before {
    content: "\e4bb";
}

i.treasure-chest::before {
    content: "\f723";
}

i.hand::before {
    content: "\f256";
}

i.gear::before {
    content: "\f013";
}

i.circle-info::before {
    content: "\f05a";
}

i.star::before {
    content: "\f005";
}

i.map::before {
    content: "\f279";
}

i.puzzle-piece::before,
i#puzzle-piece::before {
    content: "\f12e";
}

i.lightbulb-on::before {
    content: "\f672";
}

i.arrow-up-right-from-square::before {
    content: "\f08e";
}

i.trash-can::before {
    content: "\f2ed";
}

i.xmark-large::before {
    content: "\e59b";
}

i.boxes-stacked::before {
    content: "\f468";
}

i.chevron-right {
    font-family: "fa-pro";
    font-size: 14px;
    font-style: normal;
}

i.trash::before {
    content: "\f1f8"
}

i.badge-check::before {
    content: "\f336"
}

i.chevron-right::before {
    content: "\f054";
}

i.microsoft::before {
    content: "\f3ca";
    font-family: "fa-brands";
}

i.link-slash::before {
    content: "\f127";
}

i.arrow-rotate-right::before {
    content: "\f01e";
}

i.plus {
    font-family: "fa-pro";
    font-size: 14px;
    font-style: normal;
}

i.plus::before {
    content: "\2b";
}

i.folder-plus::before {
    content: "\f65e";
}

i.arrow-down-to-square::before {
    content: "\e096";
}

i.minecraft {
    width: 80%;
    height: 80%;
    background-image: url(../images/minecraft.webp);
    background-size: cover;
}

i.user-plus::before,
.list-item-user-plus div.icon::before {
    content: "\f234"
}

.list-item-user-plus div.icon::before {
    font-family: fa-pro;
    font-size: 17px;

}

i.forge {
    width: 85%;
    height: 85%;
    background-image: url(../images/Anvil_JE3_BE3.webp);
    background-size: cover;
}

i.fabric {
    width: 80%;
    height: 80%;
    background-image: url(../images/fabric.webp);
    background-size: cover;
}

i.quilt {
    width: 80%;
    height: 80%;
    background-image: url(../images/quilt.svg);
    background-size: cover;
}

i.neoforged {
    width: 80%;
    height: 80%;
    background-image: url(../images/neoforged.png);
    background-size: cover;
}

i.grass-block {
    width: 100%;
    height: 100%;
    background-image: url(../images/Grass_Block.webp);
    background-size: cover;
    filter: brightness(var(--picture-brightness));
}

i.crafting-table {
    width: 100%;
    height: 100%;
    background-image: url(../images/Crafting_Table.webp);
    background-size: cover;
}

i.command-block {
    width: 100%;
    height: 100%;
    background-image: url(../images/Command_Block.webp);
    background-size: cover;
}

i.radio::before {
    content: "\f8d7";
}

i.clock::before {
    content: "\f017";
}

i.floppy-disk::before {
    content: "\f0c7";
}

i.paintbrush::before {
    content: "\f1fc";
}

i.play::before {
    content: "\f04b";
}

i.arrows-rotate::before {
    content: "\f021";
}

i.start-game::before {
    content: "\f135";
}

i.pro-settings::before {
    content: "\f1de";
}

i.chevron-up::before {
    content: "\f077";
}

i.chevron-down::before {
    content: "\f078";
}

i.circle-up::before {
    content: "\f35b";
}

i.setting::before {
    content: "\f013";
}

i.keyboard::before {
    content: "\f11c";
}

i.debug-settings::before {
    content: "\f0ad";
}

i.filter::before {
    content: "\f0b0";
}

i.java::before {
    content: "\f4e4";
    font-family: fa-brands;
}

i.spinner-third::before {
    content: "\f3f4";
}

i.spinner-third::after {
    content: "\f3f4\f3f4";
}

i.stopwatch::before {
    content: "\f2f2";
}

i.gauge-high::before {
    content: "\f625";
}

i.window::before {
    content: "\f40e";
}

i.heading::before {
    content: "\f1dc";
}

i.signature::before {
    content: "\f5b7";
}

i.server::before {
    content: "\f233";
}

i.chart-simple::before {
    content: "\e473";
}

i.input-text::before {
    content: "\e1bf";
}

i.square-terminal::before {
    content: "\e32a";
}

i.scroll::before {
    content: "\f70e";
}

i.bug::before {
    content: "\f188";
}

i.code-simple::before {
    content: "\e13d";
}

i.gauge::before {
    content: "\f624";
}

i.link::before {
    content: "\f0c1";
}

i.eye-slash::before {
    content: "\f070";
}

i.circle-exclamation::before {
    content: "\f06a";
}

i.language::before {
    content: "\f1ab";
}

i.pause::before {
    content: "\f04c";
}

i.laptop::before {
    content: "\f109";
}

i.globe::before {
    content: "\f0ac";
}

i.box-open-full::before,
i#box-open-full::before {
    content: "\f49c"
}

i.window-maximize::before {
    content: "\f2d0";
}

i.user-check::before {
    content: "\f4fc"
}

i.file-check::before {
    content: "\f316"
}

i.check::before {
    content: "\f00c"
}

i.lock::before {
    content: "\f023"
}

i.file-zipper::before {
    content: "\f1c6"
}

i.icon::before {
    content: "\f86d"
}

i.arrows-from-dotted-line::before {
    content: "\e0a3"

}

i.arrows-to-dotted-line::before {
    content: "\e0a6"
}

i.copy::before {
    content: "\f0c5"
}

i.ban::before {
    content: "\f05e"
}
