h4 {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-user-select: none;
    cursor: default;
    line-height: 1;
}

*::selection {
    background: var(--selected-text-background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.6);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(128, 128, 128, 0.8);
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    border-radius: 16px;
    position: relative;
    color-scheme: dark;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,'Yu Gothic UI' ,'Microsoft YaHei UI';
}

#window {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 5px #00000047;
    background: var(--window-background);
    border: 1px solid rgba(255, 255, 255, 0.16);
}

* {
    color: rgba(var(--default-text-color), 0.9);
    line-height: 1;
}

.fa-brands,
.fa-brands::before,
.fa-brands::after {
    font-family: "fa-brands" !important;
}

.hidden *,
.hidden {
    display: none !important;
}

.changing-theme {
    transition: all 0.3s ease !important;
}

.saving-config,
.saving-instance-settings,
.saving-config *,
.saving-instance-settings * {
    pointer-events: none !important
}

a {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.no-animations * {
    animation: none !important;
    transition: none !important;
}
